

.navbar{
    background-color: #52B69A;
    border-radius: 5px;
    display: flex;
    margin:8px;
}
.navbar h1{
    margin:0px;
    font-family: inter;
    font-weight: 700;
}
.navbar span{
    font-family: inter;
    font-weight: 700;
    font-size: 20px;
    margin-left: 20px;
}
.navbar p{
    margin-inline: 15px;
    padding: 0px;
    margin-top:20px;
}
.nav_links{
  display: flex;
 font-family: inter;
 font-weight: 400;
 float: left;
}
.buttons{
    display: flex;
    
    align-items:center;
   
}